@use '../utils' as *;
.chip{
  display: flex;
  align-items: center;
  margin: .4em;
  background-color: $light-grayish-cyan-filter;
  border-radius: 4px;
  &__title{
    padding: .4em;
    color: $dark-cyan;
    font-weight: $bold;
  }
  &__clear{
    margin-left: .2em;
    padding: .7em;
    border: 1px solid transparent;
    background-color: $dark-cyan;
    color: $light-grayish-cyan;
    font-weight: $bold;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    transition: background-color .3s;
    cursor: pointer;
    &:hover{
      background-color: $very-dark-cyan;
    }
  }
}
.info-chip{
  color: #ffffff;
  border-radius: 15px;
  padding: .4em;
  &--new{
    background-color: $dark-cyan;
  }
  &--featured{
    background-color: $very-dark-cyan;
  }
}