@use "../utils" as *;
.offer{
  margin: 1em 0;
  padding: 1.5em;
  border-radius: 4px;
  background-color: #fff;
  &__company{
    margin: .6em 0;
    display: flex;
    align-items: center;
    color: $dark-cyan;
    & > p{
      margin-right: 1em;
      font-weight: $bold;
    }
  }
  &__title{
    margin: .6em 0;
    font-weight: $bold;
  }
  &__info{
    display: flex;
    color: $dark-grayish-cyan;
  }
  &__chips{
    display: flex;
    flex-wrap: wrap;
    padding: .75em 0;
  }
}